@charset 'utf-8';
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff6f00;
}


/* define the background as gray and the color of the
words as white for the contactArea class. You align 
the text to the right. */

/* for step 1 - Defining the CSS for the Header start */

.contactArea {
  background: #666;
  color: #fff;
  text-align: right;
  border: 2px solid gold;
}

.contactColumn {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.studioname h3 {
  margin-top: 20px;
  position: absolute;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 8px;
}

.banner h3 {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 80px;
  font-size: 3em;
  text-align: center;
  letter-spacing: 8px;
  text-shadow: 6px 6px 0px rgb(100, 245, 238);
}

.slogan h1 {
  margin-top: 300px;
  font-size: 5em;
  text-align: center;
  letter-spacing: 4px;
}

.business h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 80px;
  text-align: center;
  letter-spacing: 4px;
}

.enterbutton {
  margin-top: 80px;
  text-align: center;
  letter-spacing: 2px;
}

.quoteButton {
  margin-top: 30px;
  text-align: center;
  height: 30px;
}

.quoteButton1 {
  border: 1px solid black;
  box-shadow: 1px 5px 5px black;
  padding: 15px;
  font-size: 1em;
  color: black;
  letter-spacing: 4px;
}

.info .row .column img {
  padding: 20px;
}

.links {
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.linkimg  {
  margin: 5px 5px 50px 5px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.introduction {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: lightcoral;
  letter-spacing: 2px;
}

hr {
  height: 1px;
  background-color: #000;
}

.subscribe {
  border: 1px solid orange;
  padding: 3px;
}

.subscribe input {
  margin-left: 6px;
}

.aboutme li {
  margin-left: 15px;
  list-style-type: circle;
}

/* for contact.html  - Defining the CSS for the form to get customer's infrmations */
#errMessage {
  display: none;
}
 
legend, #submitbutton input {
  font-family: georgia, "times new roman", times, serif;
}
 
fieldset {
  margin-bottom: 10px;
  position: relative;
  padding: 2.5em 1em 0.5em 1em;
  background:whitesmoke;
  text-align: left;
  border: 1px solid #eeb029;
  }
 
fieldset fieldset {
  padding-top: 5px;
}
 
form {
  background: white;
  padding: 10px 5px 7px 5px;
  margin: 0 auto;
  width: 750px;
}
    
input, textarea {
  font-size: 1em;
}
  
input:focus, textarea:focus {
  background: #e3d5ba;
}
  
legend span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

#contactinfo, #requirementinfo, #subject, #projecttype, #budget, #submitbutton {
  border: none;
}
 
#contactinfo label {
  display: block;
  position: relative;
  margin: 12px 0;
}

#contactinfo input {
  position: absolute;
  left: 100px;
}

#projecttype label {
  display: inline-block;
  margin-left: 20px;
}

#projecttype input {
  display: inline-block;
  margin-left: 10px;
}
  
#requirementinfo label {
  display: block;
  position: relative;
  margin: 12px 0;
}
      
#requirementinfo input {
  position: absolute;
  left: 100px;
}
              
#nameinput, #emailinput, #addressinput, #subjectinput, #budgetinput {
  width: 30em;
}

#phoneinput {
  width: 12em;
}
 
#submitbutton {
  border: none;
  background-color: white;
  padding: 1em 0;
  margin-bottom: 0;
  text-align: center;
}

#submitbutton input {
  background-color: white;
  font-size: 1em;
  color: black;
}
 
/* the end of definition for the form */




/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


/* for step 1 - Defining the CSS for the Header end  */

/* for step 2 - Defining the CSS for the Navigation start */

.logo {
    text-align: left;
}

/* define an image width of 25 percent
and set a margin for it.*/

.logo img {
    width: 25%;
    margin: 10px 0;
}

.logo img:hover {
    width: 25%;
    margin: 10px 0;
    transform: scale(1.1, 1.1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(360deg) ;
    transform: rotate(360deg); 
}


/* In the navigation class, you define dark orange as
the background color and align the text to the right.
 You set the padding and define the bold font weight for it */

 .navigation {
    text-align: right;
    padding: 10px 0;
    font-weight: bold;
}

/* To the anchor links containing the
Home, Pricing, Support, and Login links, 
you assign the black color and
a black border with a padding of 5px */

.navigation a {
    display: block;
    color: #000;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 300px) {
	.navigation a {
    display: inline-block;
  }
}

.navigation a:hover {
    color: #fff;
    background-color: #e77816;
}

/* set the height of the <section> with the master-header class 
  to 450px and set the background to dark orange, the same
color as in step 2. Then, you define black color to the content in that
section. You also set the color of all the headings in that section 
to black with the master-header class. */

.master-header {
    height: 450px;
    overflow: hidden;
    background: #ffc400;
    color: #000;
}

.master-header h1, .master-header h2, .master-header h3, .master-header h4, .master-header h5, .master-header h6 {
    color: #000;
}


/* set list-style as none to remove the bullets.
Further, you set the background as the sprite image by assigning the link
to that image. Then, you define the width and height for it. You also assign
a border-radius setting of 4px to the image. Next, you split the image
into the first three parts and set the background position to 0 for the first
part, -70px for the next part, and -140px for the third. The rest of the image
cannot be seen.  */

ul.store-badges {
    list-style-type: none;
}

ul.store-badges li a, .store-badges a {
    display: inline-block;
    background: url('../images/store-badges-70x245.png') no-repeat 0 0 #fff;
    width: 245px;
    height: 70px;
    border-radius: 4px;
}

.store-badges a.store-apple {
    background-position: 0 0;
}


.store-badges a.store-android {
    background-position: 0 -70px;
}

.store-badges a.store-microsoft {
    background-position: 0 -140px;
}


/* Adding the CSS for the Application Image in the Banner Area */

.master-header-image {
    background: url("../images/android-device1.png") no-repeat;
    background-size: cover;
    background-position: 0 15px;
}



/* for step 4 and 5 - Defining the CSS for the Content Area start */

.info {
    background-color: #fff;
    /* border: 2px solid gold;
    box-shadow: 2px 2px 3px blue;
*/
}

/*CSS for images rotation*/

.rotation {
  width: 100%;
  height: 200px;
}

* {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

.moveimage {
  width: 526.4px;
  height: 185px;
  position: absolute;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
  margin: 0 auto;
  transform: translateY(100%);
}

.moveimage ul {
  position: absolute;
  height: 185px;
  width: 2000px;
}

.moveimage ul li {
  width: 329px;
  height: 185px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /* z-index: 1; */
}

.moveimage ul li img {
  width: 100%;
  margin-top: 0px;
}

.moveimage ul li:nth-of-type(1) {
  transform: translateX(230.3px) scale(.8);
  animation: three-D 9.5s ease -7.3s infinite;
}

.moveimage ul li:nth-of-type(2) {
  transform: translateX(230.3px) scale(.8);
  animation: three-D 9.5s ease -4.8s infinite;
}

.moveimage ul li:nth-of-type(3) {
  transform: translateX(230.3px) scale(.8);
  animation: three-D 9.5s ease -2.5s infinite;
}

.moveimage ul li:nth-of-type(4) {
  transform: translateX(230.3px) scale(.8);
  animation: three-D 9.5s ease -0.2s infinite;
}


/* total 9.5s */

@keyframes three-D {
  /* stop for 2 s */
  0%,
  21% {
      transform: translateX(230.3px) translateZ(40px) scale(0.8);
      z-index: 3;
  }
  /* transition time 0.5s */
  26%,
  47% {
      z-index: 4;
      transform: translateX(98.7px) scale(1);
  }
  /* transition time 0.5s  */
  51%,
  73% {
      z-index: 2;
      opacity: 1;
      transform: translateX(-32.9px) scale(0.8);
  }
  /* hide the picture */
  74%,
  96% {
      opacity: 0;
      z-index: 1;
      transform: translateX(-32.9px) scale(0.8);
  }
  /* transition time 0.5s  */
  100% {
      opacity: 1;
      z-index: 1;
      transform: translateX(230.3px) scale(0.8);
  }
}