@charset 'utf-8';
body {
  background-image: url('../images/back8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.studioname {
  margin-top: 50px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  text-shadow: 4px 4px 0px black;
}

.slogan {
  margin-top: 250px;
  text-align: center;
  font-size: 5em;
  color: white;
  letter-spacing: 5px;
  text-shadow: 8px 8px 0px black;
}

.business {
  margin-top: 100px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5em;
  color: white;
  letter-spacing: 4px;
  text-shadow: 6px 6px 0px black;
}

.enterButton {
  margin-top: 80px;
  text-align: center;
  height: 30px;
}

.enterButton1 {
  border: 1px solid white;
  box-shadow: 0px 5px 5px black;
  padding: 15px;
  font-size: 1.5em;
  color: white;
  letter-spacing: 4px;
  text-shadow: 6px 6px 0px black;
}

.links1 {
  margin-top: 80px;
  margin-left: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.linkimg1  {
  margin: 5px 5px 50px 5px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

